[submodule "libs/VulkanMemoryAllocator-Hpp"]
	path = libs/VulkanMemoryAllocator-Hpp
	url = https://github.com/YaaZ/VulkanMemoryAllocator-Hpp
[submodule "libs/SPIRV-Reflect"]
	path = libs/SPIRV-Reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui
[submodule "libs/ImGuizmo"]
	path = libs/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "libs/RTXMU"]
	path = libs/RTXMU
	url = https://github.com/NVIDIAGameWorks/RTXMU
